<form #f>
    <div class="error-red" *ngIf="uname.invalid && uname.dirty">
        {{error}}
    </div>
<div class="form-element">
    <label for="username" class="form-label">
    ID
    </label>
    <input (keyup.enter)="onSignIn(f)" ngModel #uname='ngModel' required type="text" id="username" name="uname"/>
</div>
<div class="form-element">
    <label for="password" class="form-label">
    Password
    </label>
    <input (keyup.enter)="onSignIn(f)" ngModel #passwd='ngModel' required type="password" id="password" name="passwd"/>
</div>
<div class="form-toolbar">
    <button class="signin-button" type="button" (click)="onSignIn(f)">Sign-in</button>
    <a class="linkGeneral" routerLink="/register">Register</a>
</div>
</form>
