<form>
    <div class="form-element">
        <label for="username" class="form-label">
        ID
        </label>
        <input type="text" class="username" name="uname"/>
    </div>
    <div class="form-element">
        <label for="password" class="form-label">
        Password
        </label>
        <input type="password" class="password" name="passwd"/>
    </div>
    <div class="form-element">
        <label for="confirmpassword" class="form-label">
        Confirm Password
        </label>
        <input type="password" class="password" name="confirmpasswd"/>
    </div>
    <div class="form-toolbar">
        <button class="signin-button" type="button" (click)="onRegister()">Register</button>
        <a class="linkGeneral" routerLink="/login">Login</a>
    </div>
</form>
    